<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rogrand.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录 -->
        <activity android:name=".ui.home.login.LoginActivity" />
        <!--注册-->
        <activity android:name=".ui.home.register.RegisterActivity" />
        <!--图片选择后的显示界面-->
        <activity android:name=".ui.home.imageselector.ImageResultActivity" />
        <!--解决Android6.0+拍照问题-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--设置-->
        <activity android:name=".ui.my.setting.SettingActivity" />
        <!--关于-->
        <activity android:name=".ui.my.setting.about.AboutActivity" />
        <!--个人信息-->
        <activity android:name=".ui.my.userinfo.UserInfoActivity" />
        <!--按钮-->
        <activity android:name=".ui.tool.button.ButtonActivity" />
        <!--Toast-->
        <activity android:name=".ui.tool.toast.ToastActivity" />
        <!--Banner-->
        <activity android:name=".ui.tool.banner.BannerActivity" />
        <!--Dialog-->
        <activity android:name=".ui.tool.dialog.DialogActivity" />
    </application>

</manifest>